@charset "utf-8";
// font code
@mixin font-face($name, $weight, $path){
   @font-face{
      font-family: $name;
      font-weight: $weight;
      src:url($path + ".eot");
      src:url($path + ".eot?#iefix") format('embedded-opentype'),
      url($path + ".woff") format('woff'),
      url($path + ".otf") format('opentype'),
      url($path + ".ttf") format('truetype');
   }
}
//1.notoK
@include font-face("notoK", 400, "../font/NotoSansKR-Regular-Hestia");
@include font-face("notoK", 500, "../font/NotoSansKR-Medium-Hestia");
@include font-face("notoK", 700, "../font/NotoSansKR-Bold-Hestia");

//2.Lato
@include font-face("Lato", 400, "../font/Lato-Regular");
@include font-face("Lato", 500, "../font/Lato-Medium");
@include font-face("Lato", 700, "../font/Lato-Bold");