<!DOCTYPE html>
<html lang="ko">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1.0, maximum-scale=1.0">
      <title>t-0034</title>
      <link rel="stylesheet" href="../../assets/css/reset.css">
      <link rel="stylesheet" href="../../assets/css/fonts.css">
      <link rel="stylesheet" href="../../assets/css/style.css">
      <!-- plugin css -->
      <link rel="stylesheet" href="../../assets/css/swiper.css">
      <link rel="stylesheet" href="../../assets/css/slick.css">
      <link rel="stylesheet" href="../../assets/css/slick-theme.css">
      <!-- js -->
      <script src="../../assets/js/jquery-2.2.4.min.js"></script>
      <script src="../../assets/js/swiper.min.js"></script>
      <script src="../../assets/js/slick.min.js"></script>
      <script src="../../assets/js/common.js"></script>
</head>
<body>
<div class="wrap mobWrap">
      <section class="sub">
            <div class="commonSub mobsubTop mobgreeting">
                  <!-- mobgreeting class 는 개발 붙을 시 삭제할 class 삭제해도 상관없음 -->
                  <header class="mobHeader">
                        <div class="navTop">
                              <div class="innerContainer">
                                    <h1><a href="main.html"><img src="../../assets/images/logo-mob.png"
                                                                 alt="mobile logo"></a></h1>
                                    <div class="hamburger">
                                          <img src="../../assets/images/hamburger.png" alt="hamburger">
                                    </div>
                              </div>
                              <nav class="mobNav align">
                                    <ul class="mobGnb">
                                          <li>
                                                <a href="javascript:;">호텔소개<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">호텔소개</a></li>
                                                      <li><a href="javascript:;">호텔정보</a></li>
                                                      <li><a href="javascript:;">층별안내도</a></li>
                                                      <li><a href="javascript:;">오시는 길</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">연회소개<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">웨딩</a></li>
                                                      <li><a href="javascript:;">기업연회</a></li>
                                                      <li><a href="javascript:;">가족연회</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">고객센터<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">온라인예약</a></li>
                                                      <li><a href="javascript:;">faq</a></li>
                                                      <li><a href="javascript:;">q&amp;a</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">갤러리<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">사진</a></li>
                                                      <li><a href="javascript:;">동영상</a></li>
                                                      <li><a href="javascript:;">주변 관광지</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">라이프 스타일<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">야외 수영장</a></li>
                                                      <li><a href="javascript:;">스파</a></li>
                                                      <li><a href="javascript:;">피트니스</a></li>
                                                      <li><a href="javascript:;">쇼핑</a></li>
                                                </ul>
                                          </li>
                                    </ul>
                                    <div class="mobLang">
                                          <p class="en lang">language <i>&blacktriangledown;</i></p>
                                          <ul class="language">
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">한국어<i>(kr)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/kor.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">영어<i>(usa)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/usa.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">중국어 간체<i>(cn)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/china.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">중국어 번체</span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/taiwan.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">일본어<i>(jp)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/jp.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                          </ul>
                                    </div>
                              </nav>
                        </div>
                  </header>
                  <!-- header :: 이 영역은 gnb logo snb를 모듈링 할 수 있다. -->
                  <p class="subTitle">pick &amp; i hotel</p>
                  <h2>호텔소개</h2>
            </div>
            <!-- // 공통 sub top 끝 -->
            <article class="mobContents">
                  <div class="mobSubname">
                        <span class="icon"><img src="../../assets/images/commonicon-mob.png" alt="icon"></span>
                        <h3>웨딩</h3>
                  </div>
                  <!-- // mobile 서브 공통 타이틀 이 후 컨텐츠 시작 -->
                  <div class="innerContainer">
                        <ul class="galleryTab">
                              <li data-tab="tab01"><p>웨딩</p></li>
                              <li data-tab="tab02"><p>기업연회</p></li>
                              <li data-tab="tab03"><p>가족연회</p></li>
                        </ul>
                        <div class="gallerySlider">
                              <div id="tab01" class="tabContent current">
                                    <div class="swiper-container mgContainer">
                                          <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                      <img src="../../assets/images/mob-wedding01.png" alt="mobile gallery">
                                                </div>
                                                <div class="swiper-slide">
                                                      <img src="../../assets/images/mob-wedding02.png" alt="mobile gallery">
                                                </div>
                                          </div>
                                          <div class="mg-button-prev"><img src="../../assets/images/mob-gallery-prev.png" alt="prev button"></div>
                                          <div class="mg-button-next"><img src="../../assets/images/mob-gallery-next.png" alt="next button"></div>
                                    </div>
                                    <!-- // gallery slide end-->
                                    <div class="weddingInfo">
                                          <h4>wedding hall</h4>
                                          <p class="weddingText">
                                                일생의 소중한 순간. 픽앤아이호텔 웨딩홀과 함께하세요. <br>아름다운 홀과 분위기, 최고의 셰프들이 선사하는 음식들 300대 이상의 주차완비, <br> 전문가의 손길이 닿은 플라워까지 픽앤아이에서 결혼하면 스타일과 품격이 달라집니다.
                                          </p>
                                          <h4>information</h4>
                                          <div class="galleryInfo">
                                                <div>
                                                      <h5>운영시간</h5>
                                                      <ul class="detail">
                                                            <li><p><span class="timing">open</span><span class="week">월요일 ~ 일요일 (연중무휴)</span></p></li>
                                                            <li><p><span class="timing">early part</span><span class="week">09:00 am ~ 13:00 pm</span></p></li>
                                                            <li><p><span class="timing">late part</span><span class="week">14:00 pm ~ 18:00 pm</span></p></li>
                                                      </ul>
                                                </div>
                                                <div class="peakbottom">
                                                      <h5>운영장소</h5>
                                                      <ul class="detail">
                                                            <li><p>픽앤아이 호텔 신라 1층</p></li>
                                                      </ul>
                                                </div>
                                                <div class="bottomtop">
                                                      <h5>운영좌석 수</h5>
                                                      <ul class="detail">
                                                            <li>
                                                                  <p>300석</p>
                                                                  <span class="more">
                                                                              HALL 80석 / tABLE 200 <br>
                                                                              PRIVATE DINING ROOM 2개 총 20석
                                                                        </span>
                                                            </li>
                                                      </ul>
                                                </div>
                                                <div>
                                                      <h5>예약 및 문의</h5>
                                                      <ul class="detail">
                                                            <li><p>02.2344.5678</p></li>
                                                      </ul>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div id="tab02" class="tabContent">
                                    <div class="swiper-container mgContainer">
                                          <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                      <img src="../../assets/images/mob-wedding01.png" alt="mobile gallery">
                                                </div>
                                                <div class="swiper-slide">
                                                      <img src="../../assets/images/mob-wedding02.png" alt="mobile gallery">
                                                </div>
                                          </div>
                                          <div class="mg-button-prev"><img src="../../assets/images/mob-gallery-prev.png" alt="prev button"></div>
                                          <div class="mg-button-next"><img src="../../assets/images/mob-gallery-next.png" alt="next button"></div>
                                    </div>
                                    <!-- // gallery slide end-->
                                    <div class="weddingInfo">
                                          <h4>wedding hall</h4>
                                          <p class="weddingText">
                                                일생의 소중한 순간. 픽앤아이호텔 웨딩홀과 함께하세요. <br>아름다운 홀과 분위기, 최고의 셰프들이 선사하는 음식들 300대 이상의 주차완비, <br> 전문가의 손길이 닿은 플라워까지 픽앤아이에서 결혼하면 스타일과 품격이 달라집니다.
                                          </p>
                                          <h4>information</h4>
                                          <div class="galleryInfo">
                                                <div>
                                                      <h5>운영시간</h5>
                                                      <ul class="detail">
                                                            <li><p><span class="timing">open</span><span class="week">월요일 ~ 일요일 (연중무휴)</span></p></li>
                                                            <li><p><span class="timing">early part</span><span class="week">09:00 am ~ 13:00 pm</span></p></li>
                                                            <li><p><span class="timing">late part</span><span class="week">14:00 pm ~ 18:00 pm</span></p></li>
                                                      </ul>
                                                </div>
                                                <div class="peakbottom">
                                                      <h5>운영장소</h5>
                                                      <ul class="detail">
                                                            <li><p>픽앤아이 호텔 신라 1층</p></li>
                                                      </ul>
                                                </div>
                                                <div class="bottomtop">
                                                      <h5>운영좌석 수</h5>
                                                      <ul class="detail">
                                                            <li>
                                                                  <p>300석</p>
                                                                  <span class="more">
                                                                              HALL 80석 / tABLE 200 <br>
                                                                              PRIVATE DINING ROOM 2개 총 20석
                                                                        </span>
                                                            </li>
                                                      </ul>
                                                </div>
                                                <div>
                                                      <h5>예약 및 문의</h5>
                                                      <ul class="detail">
                                                            <li><p>02.2344.5678</p></li>
                                                      </ul>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div id="tab03" class="tabContent">
                                    <div class="swiper-container mgContainer">
                                          <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                      <img src="../../assets/images/mob-wedding01.png" alt="mobile gallery">
                                                </div>
                                                <div class="swiper-slide">
                                                      <img src="../../assets/images/mob-wedding02.png" alt="mobile gallery">
                                                </div>
                                          </div>
                                          <div class="mg-button-prev"><img src="../../assets/images/mob-gallery-prev.png" alt="prev button"></div>
                                          <div class="mg-button-next"><img src="../../assets/images/mob-gallery-next.png" alt="next button"></div>
                                    </div>
                                    <!-- // gallery slide end-->
                                    <div class="weddingInfo">
                                          <h4>wedding hall</h4>
                                          <p class="weddingText">
                                                일생의 소중한 순간. 픽앤아이호텔 웨딩홀과 함께하세요. <br>아름다운 홀과 분위기, 최고의 셰프들이 선사하는 음식들 300대 이상의 주차완비, <br> 전문가의 손길이 닿은 플라워까지 픽앤아이에서 결혼하면 스타일과 품격이 달라집니다.
                                          </p>
                                          <h4>information</h4>
                                          <div class="galleryInfo">
                                                <div>
                                                      <h5>운영시간</h5>
                                                      <ul class="detail">
                                                            <li><p><span class="timing">open</span><span class="week">월요일 ~ 일요일 (연중무휴)</span></p></li>
                                                            <li><p><span class="timing">early part</span><span class="week">09:00 am ~ 13:00 pm</span></p></li>
                                                            <li><p><span class="timing">late part</span><span class="week">14:00 pm ~ 18:00 pm</span></p></li>
                                                      </ul>
                                                </div>
                                                <div class="peakbottom">
                                                      <h5>운영장소</h5>
                                                      <ul class="detail">
                                                            <li><p>픽앤아이 호텔 신라 1층</p></li>
                                                      </ul>
                                                </div>
                                                <div class="bottomtop">
                                                      <h5>운영좌석 수</h5>
                                                      <ul class="detail">
                                                            <li>
                                                                  <p>300석</p>
                                                                  <span class="more">
                                                                              HALL 80석 / tABLE 200 <br>
                                                                              PRIVATE DINING ROOM 2개 총 20석
                                                                        </span>
                                                            </li>
                                                      </ul>
                                                </div>
                                                <div>
                                                      <h5>예약 및 문의</h5>
                                                      <ul class="detail">
                                                            <li><p>02.2344.5678</p></li>
                                                      </ul>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </article>
            <!-- // 모바일 서브 컨텐츠 -->
            <footer>
                  <ul class="footerTop mobTop">
                        <li><a href="javascript:;"><span>호텔소개</span></a></li>
                        <li><a href="javascript:;"><span>개인정보보호정책</span></a></li>
                        <li><a href="javascript:;"><span>이메일무단수집거부</span></a></li>
                  </ul>
                  <ul class="footerTop mobBottom">
                        <li><a href="javascript:;"><span>찾아오시는 길</span></a></li>
                        <li><a href="javascript:;"><span>채용문의</span></a></li>
                        <li><a href="javascript:;"><span>고객센터</span></a></li>
                  </ul>
                  <div class="footerInfo">
                        <div class="container">
                              <ul class="sns">
                                    <li><a href="javascript:;"><img src="../../assets/images/facebook.png" alt="facebook"></a></li>
                                    <li><a href="javascript:;"><img src="../../assets/images/blog.png" alt="blog"></a></li>
                                    <li><a href="javascript:;"><img src="../../assets/images/instagram.png" alt="instagram"></a></li>
                                    <li><a href="javascript:;"><img src="../../assets/images/kakaostory.png" alt="kakao"></a></li>
                              </ul>
                              <p>
                                    서울특별시 구로구 디지털로33길 28 우림이비지센터1차 714호 / (주)이노아이티  대표 : 김채영 <br>
                                    / 사업자등록번호 : 778-88-00061 / 개인정보보호책임자 : OOO (0000@ooooo) / 전화 : 02-554-2009 / <br>
                                    COPYRIGHT(C) 2018  픽앤아이 Inc. All rights reserved.
                              </p>
                        </div>
                  </div>
            </footer>
            <!-- // footer -->
      </section>
</div>
</body>
</html>