<!DOCTYPE html>
<html lang="ko">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1.0, maximum-scale=1.0">
      <title>t-0034</title>
      <link rel="stylesheet" href="../assets/css/style.css">
      <!-- js -->
      <script src="../assets/js/jquery-2.2.4.min.js"></script>
      <script src="../assets/js/swiper.min.js"></script>
      <script src="../assets/js/slick.min.js"></script>
      <script src="../assets/js/common.js"></script>
</head>
<body>
<div class="wrap mobWrap">
      <section class="main">
            <article class="mobmainVisual">
                  <header class="mobHeader">
                        <div class="navTop">
                              <div class="innerContainer">
                                    <h1><a href="main.html"><img src="../assets/images/logo-mob.png"
                                                                 alt="mobile logo"></a></h1>
                                    <div class="hamburger">
                                          <img src="../assets/images/hamburger.png" alt="hamburger">
                                    </div>
                              </div>
                              <nav class="mobNav">
                                    <ul class="mobGnb">
                                          <li>
                                                <a href="javascript:;">호텔소개<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">호텔소개</a></li>
                                                      <li><a href="javascript:;">호텔정보</a></li>
                                                      <li><a href="javascript:;">층별안내도</a></li>
                                                      <li><a href="javascript:;">오시는 길</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">연회소개<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">웨딩</a></li>
                                                      <li><a href="javascript:;">기업연회</a></li>
                                                      <li><a href="javascript:;">가족연회</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">고객센터<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">온라인예약</a></li>
                                                      <li><a href="javascript:;">faq</a></li>
                                                      <li><a href="javascript:;">q&amp;a</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">갤러리<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">사진</a></li>
                                                      <li><a href="javascript:;">동영상</a></li>
                                                      <li><a href="javascript:;">주변 관광지</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">라이프 스타일<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">야외 수영장</a></li>
                                                      <li><a href="javascript:;">스파</a></li>
                                                      <li><a href="javascript:;">피트니스</a></li>
                                                      <li><a href="javascript:;">쇼핑</a></li>
                                                </ul>
                                          </li>
                                    </ul>
                                    <div class="mobLang">
                                          <p class="en lang">language <i>&blacktriangledown;</i></p>
                                          <ul class="language">
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">한국어<i>(kr)</i></span>
                                                            <span class="flags">
                                                                  <img src="../assets/images/kor.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">영어<i>(usa)</i></span>
                                                            <span class="flags">
                                                                  <img src="../assets/images/usa.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">중국어 간체<i>(cn)</i></span>
                                                            <span class="flags">
                                                                  <img src="../assets/images/china.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">중국어 번체</span>
                                                            <span class="flags">
                                                                  <img src="../assets/images/taiwan.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">일본어<i>(jp)</i></span>
                                                            <span class="flags">
                                                                  <img src="../assets/images/jp.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                          </ul>
                                    </div>
                              </nav>
                        </div>
                  </header>
                  <!-- header :: 이 영역은 gnb logo nav 를 모듈링 할 수 있다. -->
                  <div class="swieper-container mobVisual">
                        <div class="slider-text"><img src="../assets/images/mob-mainvisual-text.png" alt="main text img"></div>
                        <div class="swiper-wrapper">
                              <div class="swiper-slide visual01"></div>
                              <div class="swiper-slide visual02"></div>
                              <div class="swiper-slide visual03"></div>
                        </div>
                        <div class="swiper-button-prev">
                              <img src="../assets/images/mob-mainvisual-prev.png" alt="prev button">
                        </div>
                        <div class="swiper-button-next">
                              <img src="../assets/images/mob-mainvisual-next.png" alt="next button">
                        </div>
                        <div class="swiper-pagination"></div>
                  </div>
                  <div class="mobSearch">
                        <ul class="hotelTab clearfix">
                              <li class="domestic active" data-tab="tab01"><p>해외호텔</p></li>
                              <li class="overseas" data-tab="tab02"><p>국내호텔</p></li>
                        </ul>
                        <div class="searching">
                              <div id="tab01" class="tabContent current">
                                    <div class="innerContainer">
                                          <div class="reserveInfo">
                                                <div class="engTyping">
                                                      <input type="text" placeholder="도시,호텔 명을 한글 또는 영문으로 입력하세요.">
                                                </div>
                                                <div class="checkWrap clearfix">
                                                      <div class="check">
                                                            <span>체크인 </span>
                                                            <input type="date" name="checkIn" value="체크인" class="checkinout">
                                                      </div>
                                                      <div class="nights">
                                                            <div class="dropBox">
                                                                  <p class="defaultValue">
                                                                        <button>
                                                                              <span class="optionText">박</span>
                                                                              <img src="../assets/images/img_bleet_down.png"
                                                                                   alt="down arrow" class="dropArrow">
                                                                        </button>
                                                                  </p>
                                                                  <ul class="options">
                                                                        <li><span>1박</span></li>
                                                                        <li><span>2박</span></li>
                                                                        <li><span>3박</span></li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                      <div class="checkOut">
                                                            <span>체크아웃 </span>
                                                            <input type="date" name="checkOut" value="체크아웃"
                                                                   class="checkinout">
                                                      </div>
                                                      <div class="nights">
                                                            <div class="dropBox">
                                                                  <p class="defaultValue">
                                                                        <button>
                                                                              <span class="optionText">객실</span>
                                                                              <img src="../assets/images/img_bleet_down.png"
                                                                                   alt="down arrow" class="dropArrow">
                                                                        </button>
                                                                  </p>
                                                                  <ul class="options">
                                                                        <li><span>1개</span></li>
                                                                        <li><span>2개</span></li>
                                                                        <li><span>3개</span></li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="searchBtn">
                                                <a href="javascript:;">
                                                      <img src="../assets/images/search-mv.png" alt="검색">
                                                      <p>Search</p>
                                                </a>
                                          </div>
                                          <button class="mobsearchBtn">
                                                <a href="javascript:;">
                                                      <img src="../assets/images/search-mv-mob.png" alt="검색 모바일 아이콘">
                                                      <p>Search</p>
                                                </a>
                                          </button>
                                    </div>
                              </div>
                              <div id="tab02" class="tabContent">
                                    <div class="innerContainer">
                                          <div class="reserveInfo">
                                                <div class="engTyping">
                                                      <input type="text" placeholder="도시,호텔 명을 한글 또는 영문으로 입력하세요.">
                                                </div>
                                                <div class="checkWrap clearfix">
                                                      <div class="check">
                                                            <span>체크인 </span>
                                                            <input type="date" name="checkIn" value="체크인" class="checkinout">
                                                      </div>
                                                      <div class="nights">
                                                            <div class="dropBox">
                                                                  <p class="defaultValue">
                                                                        <button>
                                                                              <span class="optionText">박</span>
                                                                              <img src="../assets/images/img_bleet_down.png"
                                                                                   alt="down arrow" class="dropArrow">
                                                                        </button>
                                                                  </p>
                                                                  <ul class="options">
                                                                        <li><span>1박</span></li>
                                                                        <li><span>2박</span></li>
                                                                        <li><span>3박</span></li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                      <div class="checkOut">
                                                            <span>체크아웃 </span>
                                                            <input type="date" name="checkOut" value="체크아웃"
                                                                   class="checkinout">
                                                      </div>
                                                      <div class="nights">
                                                            <div class="dropBox">
                                                                  <p class="defaultValue">
                                                                        <button>
                                                                              <span class="optionText">객실</span>
                                                                              <img src="../assets/images/img_bleet_down.png"
                                                                                   alt="down arrow" class="dropArrow">
                                                                        </button>
                                                                  </p>
                                                                  <ul class="options">
                                                                        <li><span>1개</span></li>
                                                                        <li><span>2개</span></li>
                                                                        <li><span>3개</span></li>
                                                                  </ul>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="searchBtn">
                                                <a href="javascript:;">
                                                      <img src="../assets/images/search-mv.png" alt="검색">
                                                      <p>Search</p>
                                                </a>
                                          </div>
                                          <button class="mobsearchBtn">
                                                <a href="javascript:;">
                                                      <img src="../assets/images/search-mv-mob.png" alt="검색 모바일 아이콘">
                                                      <p>Search</p>
                                                </a>
                                          </button>
                                    </div>
                              </div>
                        </div>
                  </div>
            </article>
            <!-- // mobile main visual -->
            <article class="verticalGallery">
                  <div class="innerContainer clearfix">
                        <h2><strong>pick&amp;i</strong>gallery</h2>
                        <div class="swiper-container verticalContainer">
                              <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="../assets/images/mob-gallery-slide.png" alt="mobile slide"></div>
                                    <div class="swiper-slide"><img src="../assets/images/mob-gallery-slide.png" alt="mobile slide"></div>
                              </div>
                              <div class="vertical-button-prev">
                                    <img src="../assets/images/mob-gallery-prev.png" alt="prev button">
                              </div>
                              <div class="vertical-button-next">
                                    <img src="../assets/images/mob-gallery-next.png" alt="next button">
                              </div>
                        </div>
                        <!-- // vertical slide -->
                        <div class="swiper-container verticalThumbs">
                              <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="../assets/images/mob-gallery-thumb.png" alt="thumbnail"></div>
                                    <div class="swiper-slide"><img src="../assets/images/mob-gallery-thumb.png" alt="thumbnail"></div>
                              </div>
                        </div>
                        <!-- // vertical thumbnail -->
                        <div class="verticalText">
                              <h3>standard</h3>
                              <p>침대타입 : 더블, 트윈 <br>
                              객실크기 : 36m2</p>
                        </div>
                  </div>
            </article>
            <!-- // mobile main gallery -->
            <article class="mobService">
                  <div class="innerContainer">
                        <!-- ※pc 버전 container == 모바일 innerContainer -->
                        <div class="majorTitle align mobTitle">
                              <span><img src="../assets/images/commonicon-w.png" alt="icon"></span>
                              <h3>hotel service</h3>
                              <p>해외 정상급 레지던스에서만 볼 수 있는 호텔서비스를 국내 최초로 도입하였습니다.</p>
                              <p>6성급 호텔 픽앤아이에서 제공하는 품격높은 서비스로 귀하의 라이프 스타일을 완성합니다.</p>
                        </div>
                        <div class="swiper-container serviceContainer">
                              <div class="swiper-wrapper">
                                    <div class="swiper-slide"><img src="../assets/images/mob-service01.png" alt="service slide"></div>
                                    <div class="swiper-slide"><img src="../assets/images/mob-service01.png" alt="service slide"></div>
                                    <div class="swiper-slide"><img src="../assets/images/mob-service01.png" alt="service slide"></div>
                                    <div class="swiper-slide"><img src="../assets/images/mob-service01.png" alt="service slide"></div>
                                    <div class="swiper-slide"><img src="../assets/images/mob-service01.png" alt="service slide"></div>
                              </div>
                              <div class="service-pagination"></div>
                        </div>
                        <!-- // hotel service slide -->
                        <div class="serviceInfo">
                              <h5>urban lifestyle hotel</h5>
                              <p>한국의 전통미와 현대적 감각을 겸비하고 있는 세계 속의 명문호텔 픽앤아이호텔은 세계 최고의 어번(Urban) 라이프스타일 호텔로 고객들에게 최고급
                                    Hospiality 서비스를 제공합니다.</p>
                              <br>
                              <p>한국을 대표하는 럭셔리 호텔로서 ‘일상이 최고의 순간이 되는 곳’이라는 컨셉을 새롭게 선보이며 휴식은 물론 고급 식문화, 예술, 뷰티, 쇼핑, 웨딩,
                                    엔터테인먼트 등 고객의 고품격 라이프스타일을 제안하는 공간으로 거급나고 있습니다.</p>
                        </div>
                  </div>
            </article>
            <!-- // mobile main hotel service -->
            <article class="mobLife">
                  <div class="innerContainer">
                        <div class="majorTitle align mobTitle">
                              <span class="icon"><img src="../assets/images/commonicon.png" alt="icon"></span>
                              <h3>lifestyle</h3>
                              <p>픽앤아이 호텔에서만 누리는 특권.</p>
                              <p>탑클래스의 라이프 스타일을 오롯이 반영한 가장 프라이빗한 공간입니다.</p>
                        </div>
                        <ul class="lifeContainer clearfix">
                              <li class="lifeWrap">
                                    <a href="javascript:;" class="lifeImg">
                                          <img src="../assets/images/mob-life01.png" alt="life">
                                          <div class="hover">
                                                <div class="view"><span>view</span></div>
                                                <p>
                                                      Fitness Club <br>
                                                      Golf Range <br>
                                                      Private Shower
                                                </p>
                                          </div>
                                    </a>
                                    <p class="lifeKind">
                                          Sports Zone
                                    </p>
                              </li>
                              <li class="lifeWrap">
                                    <a href="javascript:;" class="lifeImg">
                                          <img src="../assets/images/mob-life02.png" alt="life">
                                          <div class="hover">
                                                <div class="view"><span>view</span></div>
                                                <p>
                                                      Culture Zone <br>
                                                      Museum <br>
                                                      Music Room
                                                </p>
                                          </div>
                                    </a>
                                    <p class="lifeKind">
                                          Culture Zone
                                    </p>
                              </li>
                              <li class="lifeWrap">
                                    <a href="javascript:;" class="lifeImg">
                                          <img src="../assets/images/mob-life03.png" alt="life">
                                          <div class="hover">
                                                <div class="view"><span>view</span></div>
                                                <p>
                                                      Massage Room <br>
                                                      Tea Room <br>
                                                      Spa
                                                </p>
                                          </div>
                                    </a>
                                    <p class="lifeKind">
                                          Relax Zone
                                    </p>
                              </li>
                              <li class="lifeWrap">
                                    <a href="javascript:;" class="lifeImg">
                                          <img src="../assets/images/mob-life04.png" alt="life">
                                          <div class="hover">
                                                <div class="view"><span>view</span></div>
                                                <p>
                                                      Convenience Store <br>
                                                      Sauna <br>
                                                      Billiards
                                                </p>
                                          </div>
                                    </a>
                                    <p class="lifeKind">
                                          Amenities
                                    </p>
                              </li>
                        </ul>
                  </div>
            </article>
            <!-- // mobile main lifestyle -->
            <article class="mobMembership">
                  <div class="innerContainer">
                        <div class="majorTitle align mobTitle">
                              <span class="icon"><img src="../assets/images/commonicon-w.png" alt="icon"></span>
                              <h3>membership</h3>
                              <p>포인트 혜택 및 특전을 제공하는 통합멤버쉽 서비스</p>
                              <p>지금 가입하시고 회원만을 위한 특별한 서비스와 다양한 혜택을 받으십시오.</p>
                        </div>
                        <ul class="benefitWrap">
                              <li class="benefit">
                                    <a href="javascript:;"><img src="../assets/images/membership-icon01.png"
                                                                alt="membership"></a>
                                    <span>회원전용상품</span>
                                    <p>회원을 위한 상품과 이벤트</p>
                              </li>
                              <li class="benefit">
                                    <a href="javascript:;"><img src="../assets/images/membership-icon02.png"
                                                                alt="membership"></a>
                                    <span>리워즈 특전</span>
                                    <p>리워즈의 다양한 회원특전 상품</p>
                              </li>
                              <li class="benefit">
                                    <a href="javascript:;"><img src="../assets/images/membership-icon03.png"
                                                                alt="membership"></a>
                                    <span>리워즈 포인트</span>
                                    <p>현금처럼 사용 가능한 포인트</p>
                              </li>
                        </ul>
                  </div>
            </article>
            <!-- // mobile main membership -->
            <article class="mobInfo">
                  <div class="innerContainer">
                        <ul class="infoList clearfix">
                              <li>
                                    <img src="../assets/images/notice-main.png" alt="notice">
                                    <span>공지사항</span>
                                    <p>당사의 새로운 소식을 보실 수 있습니다.</p>
                              </li>
                              <li>
                                    <img src="../assets/images/location-main.png" alt="location">
                                    <span>찾아오시는 길</span>
                                    <p>당사의 오시는 길 안내입니다.</p>
                              </li>
                              <li>
                                    <img src="../assets/images/request-main.png" alt="request">
                                    <span>1:1문의</span>
                                    <p>문의사항을 남기시면 친절히 답변드립니다.</p>
                              </li>
                              <li>
                                    <img src="../assets/images/number-main.png" alt="number">
                                    <span>02-1234-5678</span>
                                    <p>am 09:00 ~ pm 06:00 (토,일 공휴일 휴무)</p>
                              </li>
                        </ul>
                  </div>
            </article>
            <!-- // mobile company info -->
            <footer>
                  <ul class="footerTop mobTop">
                        <li><a href="javascript:;"><span>호텔소개</span></a></li>
                        <li><a href="javascript:;"><span>개인정보보호정책</span></a></li>
                        <li><a href="javascript:;"><span>이메일무단수집거부</span></a></li>
                  </ul>
                  <ul class="footerTop mobBottom">
                        <li><a href="javascript:;"><span>찾아오시는 길</span></a></li>
                        <li><a href="javascript:;"><span>채용문의</span></a></li>
                        <li><a href="javascript:;"><span>고객센터</span></a></li>
                  </ul>
                  <div class="footerInfo">
                        <div class="container">
                              <ul class="sns">
                                    <li><a href="javascript:;"><img src="../assets/images/facebook.png" alt="facebook"></a></li>
                                    <li><a href="javascript:;"><img src="../assets/images/blog.png" alt="blog"></a></li>
                                    <li><a href="javascript:;"><img src="../assets/images/instagram.png" alt="instagram"></a></li>
                                    <li><a href="javascript:;"><img src="../assets/images/kakaostory.png" alt="kakao"></a></li>
                              </ul>
                              <p>
                                    서울특별시 구로구 디지털로33길 28 우림이비지센터1차 714호 / (주)이노아이티  대표 : 김채영 <br>
                                    / 사업자등록번호 : 778-88-00061 / 개인정보보호책임자 : OOO (0000@ooooo) / 전화 : 02-554-2009 / <br>
                                    COPYRIGHT(C) 2018  픽앤아이 Inc. All rights reserved.
                              </p>
                        </div>
                  </div>
            </footer>
            <!-- // footer -->
      </section>
</div>
</body>
</html>