<!DOCTYPE html>
<html lang="ko">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, user-scalable=no,  initial-scale=1.0, maximum-scale=1.0">
      <title>t-0034</title>
      <link rel="stylesheet" href="../../assets/css/reset.css">
      <link rel="stylesheet" href="../../assets/css/fonts.css">
      <link rel="stylesheet" href="../../assets/css/style.css">
      <!-- plugin css -->
      <link rel="stylesheet" href="../../assets/css/swiper.css">
      <link rel="stylesheet" href="../../assets/css/slick.css">
      <link rel="stylesheet" href="../../assets/css/slick-theme.css">
      <!-- js -->
      <script src="../../assets/js/jquery-2.2.4.min.js"></script>
      <script src="../../assets/js/swiper.min.js"></script>
      <script src="../../assets/js/slick.min.js"></script>
      <script src="../../assets/js/common.js"></script>
</head>
<body>
<div class="wrap mobWrap">
      <section class="sub">
            <div class="commonSub mobsubTop mobgreeting">
                  <!-- mobgreeting class 는 개발 붙을 시 삭제할 class 삭제해도 상관없음 -->
                  <header class="mobHeader">
                        <div class="navTop">
                              <div class="innerContainer">
                                    <h1><a href="main.html"><img src="../../assets/images/logo-mob.png"
                                                                 alt="mobile logo"></a></h1>
                                    <div class="hamburger">
                                          <img src="../../assets/images/hamburger.png" alt="hamburger">
                                    </div>
                              </div>
                              <nav class="mobNav align">
                                    <ul class="mobGnb">
                                          <li>
                                                <a href="javascript:;">호텔소개<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">호텔소개</a></li>
                                                      <li><a href="javascript:;">호텔정보</a></li>
                                                      <li><a href="javascript:;">층별안내도</a></li>
                                                      <li><a href="javascript:;">오시는 길</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">연회소개<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">웨딩</a></li>
                                                      <li><a href="javascript:;">기업연회</a></li>
                                                      <li><a href="javascript:;">가족연회</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">고객센터<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">온라인예약</a></li>
                                                      <li><a href="javascript:;">faq</a></li>
                                                      <li><a href="javascript:;">q&amp;a</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">갤러리<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">사진</a></li>
                                                      <li><a href="javascript:;">동영상</a></li>
                                                      <li><a href="javascript:;">주변 관광지</a></li>
                                                </ul>
                                          </li>
                                          <li>
                                                <a href="javascript:;">라이프 스타일<span class="drop"></span></a>
                                                <ul class="mob2depth">
                                                      <li><a href="javascript:;">야외 수영장</a></li>
                                                      <li><a href="javascript:;">스파</a></li>
                                                      <li><a href="javascript:;">피트니스</a></li>
                                                      <li><a href="javascript:;">쇼핑</a></li>
                                                </ul>
                                          </li>
                                    </ul>
                                    <div class="mobLang">
                                          <p class="en lang">language <i>&blacktriangledown;</i></p>
                                          <ul class="language">
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">한국어<i>(kr)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/kor.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">영어<i>(usa)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/usa.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">중국어 간체<i>(cn)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/china.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">중국어 번체</span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/taiwan.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                                <li>
                                                      <a href="javascript:;">
                                                            <span class="nation">일본어<i>(jp)</i></span>
                                                            <span class="flags">
                                                                  <img src="../../assets/images/jp.png" alt="flag">
                                          </span>
                                                      </a>
                                                </li>
                                          </ul>
                                    </div>
                              </nav>
                        </div>
                  </header>
                  <!-- header :: 이 영역은 gnb logo snb를 모듈링 할 수 있다. -->
                  <p class="subTitle">pick &amp; i hotel</p>
                  <h2>고객센터</h2>
            </div>
            <!-- // 공통 sub top 끝 -->
            <article class="mobContents">
                  <div class="mobSubname">
                        <span class="icon"><img src="../../assets/images/commonicon-mob.png" alt="icon"></span>
                        <h3>온라인 예약</h3>
                  </div>
                  <!-- // mobile 서브 공통 타이틀 이 후 컨텐츠 시작 -->
                  <div class="innerContainer">
                        <!-- 모바일 contaienr 시작-->
                        <article class="about_container request_container request_basics">
                              <form>
                                    <div class="table_menu">
                                          <table style="table-layout:fixed">
                                                <tr>
                                                      <th><span>이름</span></th>
                                                      <td>
                                                            <input type="text" name="name" id="name">
                                                      </td>
                                                </tr>
                                                <tr class="specific">
                                                      <th><span>휴대전화</span></th>
                                                      <td>
                                                            <div class="phonenumber">
                                                                  <select class="sort" name="sort">
                                                                        <option value="all">전체</option>
                                                                        <option value="010">010</option>
                                                                        <option value="011">011</option>
                                                                        <option value="012">012</option>
                                                                        <option value="016">016</option>
                                                                  </select>
                                                            </div>
                                                            <span class="insert">-</span>
                                                            <div class="c-input"><input type="text"></div>
                                                            <span class="insert">-</span>
                                                            <div class="c-input"><input type="text"></div>

                                                      </td>
                                                </tr>
                                                <tr>
                                                      <th><span class="email before_none">이메일</span></th>
                                                      <td class="emailLine">
                                                            <div class="c-input"><input type="email"></div>
                                                            <span class="insert">@</span>
                                                            <div class="c-input"><input type="email" placeholder="직접입력"></div>
                                                            <div class="emailselect">
                                                                  <select class="sort" name="sort">
                                                                        <option value="direct">직접입력</option>
                                                                        <option value="naver">naver.com</option>
                                                                        <option value="hotmail">hotmail.com</option>
                                                                        <option value="gmail">gmail.com</option>
                                                                        <option value="paran">paran.com</option>
                                                                  </select>
                                                            </div>
                                                      </td>
                                                </tr>
                                                <tr>
                                                      <th><span>제목</span></th>
                                                      <td>
                                                            <input type="text" name="subject" id="subject">
                                                      </td>
                                                </tr>
                                                <tr>
                                                      <th><span>내용</span></th>
                                                      <td class="textarea">
                                                      <textarea id="textarea" rows="20" title="문의 내용 입력"
                                                                name="contents"></textarea>
                                                      </td>
                                                </tr>
                                          </table>
                                    </div>
                              </form>
                              <div class="agree">
                                    <div class="agreeCheck">
                                          <input type="checkbox" id="agree" class="agreeInfo">
                                          <label for="agree">개인정보 취급방침에 동의합니다.(필수)</label>
                                    </div>
                                    <div class="agree_box">
                                          <ul>
                                                <li>
                                                      &lt; 개인 정보의 이용 목적 &gt;
                                                      <p>
                                                            제공해주신 개인정보는 견적 의뢰와 관련 용도로만 이용되며 다른 용도로 이용하거나 본인의 승낙 없이 제3자에게 개인정보를
                                                            제공하지 않습니다. 다만, 다음 각 사항에 해당하는 경우에는 예외로 제3자와 공유될 수 있습니다.
                                                      </p>
                                                      <ol>
                                                            <li>1) 관계법령에 의하여 수사상의 목적으로 관계기관으로부터 요구가 있을 경우</li>
                                                            <li>2) 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우</li>
                                                      </ol>
                                                      <p>
                                                            개인정보를 새로이 제3자에게 제공하는 경우에는 제공받는 자, 제공목적 및 제공할 정보의 내용을 이메일 등을 통해
                                                            당사자에게 미리 고지하여 동의를 얻으며, 당사자의 동의 없이 어떠한 정보도 제공하지 않습니다.
                                                      </p>
                                                </li>
                                                <li>
                                                      &lt; 개인정보보호 의무 &gt;
                                                      <p>
                                                            제공해주신 개인정보는 견적 의뢰와 관련 용도로만 이용되며 다른 용도로 이용하거나 본인의 승낙 없이 제3자에게 개인정보를
                                                            제공하지 않습니다. 다만, 다음 각 사항에 해당하는 경우에는 예외로 제3자와 공유될 수 있습니다.
                                                      </p>
                                                      <ol>
                                                            <li>3) 관계법령에 의하여 수사상의 목적으로 관계기관으로부터 요구가 있을 경우</li>
                                                            <li>4) 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우</li>
                                                      </ol>
                                                      <p>
                                                            개인정보를 새로이 제3자에게 제공하는 경우에는 제공받는 자, 제공목적 및 제공할 정보의 내용을 이메일 등을 통해
                                                            당사자에게 미리 고지하여 동의를 얻으며, 당사자의 동의 없이 어떠한 정보도 제공하지 않습니다.
                                                      </p>
                                                </li>
                                          </ul>
                                    </div>

                              </div>
                              <button class="agree_btnWrap">
                                    <span>신청</span>
                              </button>
                        </article>
                  </div>
            </article>
      </section>
</div>
</body>
</html>